<div class="background-wrapper">
    <div class="content-wrapper">
        <p>Child-Data</p>
        <form>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Symptoms</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Start-Date</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Doc-Date</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>End-Date</mat-label>
                <input matInput>
            </mat-form-field>
        </form>
        <button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">BACK</button>
        <button routerLink="/form2" routerLinkActive="active" ariaCurrentWhenActive="page">NEXT</button>
    </div>
</div>