<form action="">
    <!-- Name -->
    <label for="fname">What is your child's name?</label>
    <input type="text" id="fname">

    <!-- Age -->
    <label for="fage">How old is your child?</label>
    <input type="text" id="fage">

    <!-- Symptoms -->
    <label for="fsymptoms">What symptoms does your child have?</label>
    <input type="text" id="fsymptoms">

    <!-- Start of procedure -->
    <input type="text">

    <!-- End of procedure -->
    <input type="text">

    <!-- Submit -->
    <input type="submit" value="Submit">
</form>